################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MTS_5_1_CTRL_Intelligence/.vs/MTS_5_1_CTRL_Intelligence
